only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=sharp
only-built-dependencies[]=msw
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=shadcn
